<div id="fondo"> 
  <div class="container-fluid ">
    <!-- <label class="mt-5 inLine">Nombre de Jugador:
      <input class="form-control inLine" [(ngModel)]="this.nombreJugador" placeholder="Nombre Jugador">
    </label> -->
    <br><br>
    <div class="form-group row " *ngIf="!this.habilitarJuego">
      <label class=" col-form-label ml-5 ">Nombre del Jugador</label>
      <div class="ml-3 mr-3">
        <input class="form-control " [(ngModel)]="this.nombreJugador" placeholder="Nombre del Jugador">
      </div>
      <button class="btn btn-dark " (click)="jugador()">Iniciar</button>
    </div>

    <h3 class="text-center mt-5">Bienvenido {{ this.nombreJugador }}</h3>
    <br>

    <div class="row mt-4" *ngIf="this.habilitarJuego">
      <!-- Div en donde se ven los movimientos -->
      <div class="col-md-8">
        <div class=row>
          <div class="col-md-6" *ngFor="let game of games2">
            <mat-card>
              <mat-card-header>
                <mat-card-title>Estas en la partida: {{game.nombre}}</mat-card-title>
              </mat-card-header>
              <ol>
                <li *ngFor="let item of game.HistorialDejugadas">
                  {{ item }}
                </li>
              </ol>
              <br>
              <br>
              <br>
              <br>
              <mat-card-content>
                <mat-card-title>Tus fichas:</mat-card-title>
                <br>
                <h6 *ngIf="this.nombreJugador == this.game.cantidadJugadores[0]; else  jugador2">{{ this.game.fichasJugador1 }}</h6>
                <ng-template #jugador2>
                  <h6>{{ this.game.fichasJugador2 }}</h6>
                </ng-template>
                <div class="col-md-4">
                  <div *ngIf="this.game.turnoDeJugador == this.nombreJugador">
                    <br>
                    <h5 *ngIf="this.ganador != null" style="color: red;">Es tu turno! <img src="/Front/src/assets/Unknown.png"></h5>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
            <br>
            
          </div>
        </div>
      </div>

      <!-- Div que contiene los cards de la derecha -->
      <div class="col-md-4 text-center">

        <!-- Card de todas las partidas activas -->
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Tablero de partidas</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <table class="table">
              <thead>
                <tr>
                  <th>Partida</th>
                  <th>Jugadores</th>
                  <th>Estatus</th>
                  <th>Ganador</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let game of games">
                  <td>{{game.nombre}}</td>
                  <td style="text-align: center; ">{{game.cantidadJugadores}}</td>
                  <td>{{game.estatus}}</td>
                  <td style="text-align: center; ">{{game.ganador}}</td>
                </tr>
              </tbody>
            </table>
          </mat-card-content>
          <button mat-button class="btn btn-info" (click)="historial()">Historial de Partidas</button>
        </mat-card>
        <br>

        <!-- Card de las partidas, unirse, crear y jugar -->
        <mat-card class="example-card mb-5">
            <mat-card-header>
              <mat-card-title>Crear, Unir o Jugar en las Partidas!</mat-card-title>
            </mat-card-header>
            <hr>
            <mat-card-content>
              <div class="form-group row">
                <label for="partida" class="col-sm-3 col-form-label">Tu Partida!</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="partida" [(ngModel)]="this.nombrePartida" placeholder="Nombre de la partida">
                </div>
              </div>

              <div class="form-group row mt-2">
                <div class="col-sm-10">
                  <input class="form-control" [(ngModel)]="this.jugada" type="text" placeholder="Jugada del nombre de partida de arriba">
                </div>
                <button type="submit" (click)="jugar()" class="btn btn-danger ml-2">Jugar</button>
              </div>

              <button mat-button class="btn btn-primary mr-3" (click)="CreateGame()">Crear Partida</button>
              <button mat-button class="btn btn-warning" (click)="JoinGame()">Unirme a Partida</button>
            </mat-card-content>

        </mat-card>
      </div>
    </div>

    <!-- Div del card del historial SI le dan al boton -->
    <div *ngIf="!bandera">
      <div class=row>
        <div class="col-md-6" *ngFor="let game of games2">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Historial de la partida: {{game.nombre}}</mat-card-title>
            </mat-card-header>
            <ol>
              <li *ngFor="let item of game.HistorialDejugadas">
                {{ item }}
              </li>
            </ol>
            <br>
            <h3>Ganador</h3>
            <h6>{{this.game.ganador}}</h6>
            <br>
            <h3>Estado</h3>
            <h6>{{this.game.estatus}}</h6>
            <br>
            <mat-card-content>
              <mat-card-title>Fichas restantes:</mat-card-title>
              <br>
              <h5>Jugador 1:</h5>
              <h6>{{ this.game.fichasJugador1 }}</h6>
              <h5>Jugador 2:</h5>
              <h6>{{ this.game.fichasJugador2 }}</h6>
            </mat-card-content>
          </mat-card>
          <br>

        </div>
      </div>
    </div>
  </div>
</div> 