<div class="container fluid">
  <label>Nombre de Usuario:
    <input [(ngModel)]="this.nombreJugador" placeholder="Nombre Usuario">
  </label>
  <hr>
  <h3>Bienvenido, {{ this.nombreJugador }}</h3>
  <br>
  <div class="row">
    <div class="col-md-8">
      <div class=row>
        <div class="col-md-6" *ngFor="let game of games">
          <mat-card>
              <mat-card-header>
                <mat-card-title>Movimientos {{game.nombre}}</mat-card-title>
              </mat-card-header>
              <ol>
                <li *ngFor="let item of game.HistorialDejugadas" >
                  {{ item }}
                </li>
              </ol>
              <br>
              <br>
              <br>
              <br>
              <mat-card-content>
                  <mat-card-title>Tus fichas:</mat-card-title>
                  <br>
                 <p *ngIf="this.nombreJugador == this.game.cantidadJugadores[0]; else  jugador2">{{ this.game.fichasJugador1 }}</p> 
                 <ng-template #jugador2><p>{{ this.game.fichasJugador2 }}</p> </ng-template>
                  
                </mat-card-content>  
            </mat-card>
            <br>
            <div class="col-md-4">
                <div *ngIf="this.game.turnoDeJugador == this.nombreJugador">
                  <i class="fas fa-bell"></i>
                  Es tu turno
                  <hr>
              </div>
              
              </div>
          </div>
      </div>
      <div class="text-center ">
        <input style="margin-right: 10px;" class="form-group" [(ngModel)]="this.jugada" type="text" placeholder="Jugada">
        <button type="submit" (click)="jugar()" class="btn btn-danger">Jugar</button>  
      </div>         
    </div>
      
    <div class="col-md-4 text-center">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Todas las partidas!</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <table class="table">
            <thead>
              <tr>
                  <th>Partida</th>
                  <th>Jugadores</th>
                  <th>Estatus</th>
                  <th>Ganador</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let game of games">
                <td>{{game.nombre}}</td>
                <td style="text-align: center; ">{{game.cantidadJugadores.length}}</td>
                <td>{{game.estatus}}</td>
                <td style="text-align: center; ">{{game.ganador}}</td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button class="btn btn-warning" (click)="JoinGame()">Unirme a Partida</button>
          </mat-card-actions>
      </mat-card> 
        <br>
        <div class="text-aling-center">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Crear Partida</mat-card-title>
            </mat-card-header>
            <mat-card-content class="form-group">
              <input type="text" class="form-control" [(ngModel)]="this.nombrePartida" placeholder="Nombre de la partida">
            </mat-card-content>
            <mat-card-actions>
              <button mat-button class="btn btn-success" (click)="CreateGame()">Crear Partida</button>
            </mat-card-actions>
          </mat-card> 
        </div>
      </div>
  </div>
  <!-- {{ this.nombrePartida }}
  {{ this.nombreJugador }}
  {{ this.turnoJugador }} -->
</div>


